# Bytecode de Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
env/
venv/

# Archivos sensibles
*.pem
*.key
*.crt
*.env

# Docker
*.log
docker-compose.override.yml
.docker/

# AWS
.aws/
*.tfstate
*.tfstate.*

# Archivos temporales
*.swp
*.bak
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de salida
*.out
*.zip
*.tar
*.gz

# Logs
*.log

# IDEs y editores
.vscode/
.idea/

